@import '../../components/app/App.css';

.left-side{
    background-color: var(--second-color);
}

.right-side{
    background-color: var(--fourth-color);
}

.wp-container{
    height: 92vh;
}

.form-header{
    text-align: center;
}

.header-wp, .text-wp{
    text-align: right;
}